.help-block {
  color: red;
}
h1 {
  text-align: center;
  color: green;
}
#btn-back {
  float: right;
}
.width-70 {
	width: 70px;
}
#image-display {
  display: block;
}
.size-img img {
    height: 246px;
    width: 210px;
}
.box {
    padding-top: 10px;
}

.list-group .list-group-item {
    margin-top: 10px;
}
.list-group .glyphicon {
    position: relative;
}
.imgg img {
    with: 100px;
    height: 80px;
}
.commnent-left {
    margin-left: -90px;
}
