.help-block {
  color: red;
}
h1 {
  text-align: center;
  color: green;
}
#btn-back {
  float: right;
}
.width-70 {
	width: 70px;
}
#image-display {
  display: block;
}
.box {
    padding-top: 10px;
}
